.image-container {
    overflow: hidden; /* Túlcsordulás kezelése */
    position: relative; /* Relatív pozícionálás */
    width: 100%; /* Teljes szélesség */
    height: auto; /* Automatikus magasság */
  }
  
.slide-in {
    animation: slideInOut 0.4s ease-out; /* Animáció alkalmazása */
}
  
@keyframes slideInOut {
    0% {
      transform: translateX(-100%); /* Kezdőállapot: balról jobbra elmozdulva */
      opacity: 0; /* Átlátszóság */
    }
    100% {
      transform: translateX(0); /* Végállapot: eredeti pozícióba visszatérve */
      opacity: 1; /* Teljesen látható */
    }
}
  